@import url('https://fonts.googleapis.com/css2?family=Handjet&family=Roboto&family=Tilt+Prism&display=swap');

.main {
  /* background-image: linear-gradient(to right, #000c24, #08142a, #101931, #171f38, #1f243f, #262945, #2e2e4b, #353351, #3d3958, #463e60, #4e4467, #574a6e); */
  background-image: url('assets\bg_38.jpeg');
  height: 100vh;
  background-size: cover;
  width: auto;
  position: absolute;
  overflow-y: scroll;
  /* padding-top: -20rem; */
}
.glass{
  background-color: rgba(255, 255, 255, 0) ;
  backdrop-filter: blur(10px);
  margin-top: -10rem;
  
}

.Home {
  height: 100vh;
  
}

.nav--holder{
  width: 100%;
  /* background-image: linear-gradient(to right, #000c24, #08142a, #101931, #171f38, #1f243f, #262945, #2e2e4b, #353351, #3d3958, #463e60, #4e4467, #574a6e); */
  position: fixed;
  top: 0;
}

.navbar {
  
  display: flex;
  justify-content: space-evenly;
  color: #F5F9FF;
  align-items: center;
  width: 60%;
  position: sticky;
  top: 0;

}

.navbar--mobile {
  display: none;
}

.section--selected {
  background-image: url("./assets/Group 50.png");
  color: #F44336;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  width: 5.7rem;
  padding: 0.5rem 0 0.5rem 0;
}

.name {
  color: white;
  font-family: 'Tilt Prism', cursive;
  font-size: 10vh;

  margin-left: 10rem;
  padding-top: 10rem;
}

.info {
  color: white;
  margin-left: 10rem;
  margin-top: -4rem;
  font-size: 4vh;
}

.icons {
  margin-left: 10rem;
}

.About {
  /* background-image: linear-gradient(to right, #000c24, #08142a, #101931, #171f38, #1f243f, #262945, #2e2e4b, #353351, #3d3958, #463e60, #4e4467, #574a6e); */
  background-size: contain;
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.gif{
  transition: all .5s;
}


.gif:hover {
  box-shadow:0 0 25px 5px #48abe0;;
}


.about--card {
  width: 40%;
}

.about--card--head {
  font-family: 'Tilt Prism', cursive;
  color: rgb(255, 143, 82);
  font-size: 3rem;

}

.about--card-content {
  color: white;
  margin-top: -2rem;
  font-family: 'Handjet', cursive;
  font-size: 2rem;

}

.Skills{
  height: 100vh;
}

.Skills--head{
  font-family: 'Tilt Prism', cursive;
  color: rgb(255, 143, 82);
  font-size: 3rem;
  text-align: center;
  margin-top: 10rem;
}
.Skills--card{
  background-color: rgba(255, 255, 255, 0.548);
  margin: 0 4rem 0 4rem;
  padding: 1rem;
  
}
.Skills--card-content{
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 1rem;
}
.Skills--card-category{
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.Skills--card-category-selected{
  background-color: #000c24;
  width: fit-content;
  display: flex;
  align-items: center;
  color: white;
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 1rem;
}
.Skill--card-category-unselected{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem 0 0.5rem;
  background-color: whitesmoke;
  border-radius: 1rem;
  cursor: pointer;
}

@keyframes slideInLeft {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.Skills--card-info{
  background-color: #E3E3E3;
  padding: 0.5rem;
  width: fit-content;
  border-radius: 0.5rem;
  animation: 0.25s ease-out 0s 1 slideInLeft;

}
.Skills--card-info-head{
  color: #000c24;
  /* text-decoration: double;*/
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-bottom: 0.5rem;
}

.Skills--card-info-progress{
  background-color: #F6F6F8;
  width: 20rem;
  height: 1rem;
}

.Skills--card-info-progress-filled{
  background-image: linear-gradient(to right, #000c24, #08142a, #101931, #171f38, #1f243f, #262945, #2e2e4b, #353351, #3d3958, #463e60, #4e4467, #574a6e);
  background-size: cover;
  
  height: 100%;
}


.Projects{
  height: 150vh;
  
}

.Projects--head{
  font-family: 'Tilt Prism', cursive;
  color: rgb(255, 143, 82);
  font-size: 3rem;
  text-align: center;
  padding-top: 10rem;
}

@keyframes blink {
  0%{
    transform: translateY(0rem) rotate3d(1,1,0,-45deg);
  }
  100%{
    transform: translateY(1rem) rotate3d(1,1,0,-45deg);
  }
  
}

.Projects--data-card{
  width: 20rem;
  background-color: rgba(255, 255, 255, 0.548);
  transition: all 0.5s;
  height: 25rem;
  animation: 1s infinite alternate blink;
  width: 20rem;

  margin-right: -10rem;
  box-shadow: 5px 10px 18px #333333;
}
.Projects--data{
  display: flex;
  justify-content: center;
  /* display: grid; */
  /* grid-template-columns: auto auto auto; */
  row-gap: 2rem;
  /* justify-content: space-evenly; */
}
.Projects--data-card-head{
  backdrop-filter: blur(5px);
  height: 98%;
  margin: 0;
  width: 100%;

}
.Projects--data-card-head > p{
  padding: 1rem 0 0 1rem;
  width: calc(100% - 1rem);
  height: calc(100%-1rem);
  color: #101931;
  font-weight: bold;
  font-size: 4rem;
  font-family: 'Handjet', cursive;
  background-color:  rgba(255, 255, 255, 0.548);
  /* margin: 4rem 1rem 3rem 1rem; */
  
}
.Projects--data-card > img {
  width: 20rem;
  height: 10rem;
  animation: 0.25s ease-out 0s 1 slideInLeft;
}
.Projects--data-card-info{
  display: none;
  
  height: 10rem;
  padding: 0 1rem 0 1rem;
  animation: 0.25s ease-out 0s 1 slideInLeft;

}
.Projects--data-card-link{
  margin-left: 1rem;
}
.Projects--data-card:hover  .Projects--data-card-info{
  display: block;
}
.Projects--data-card:hover .Projects--data-card-head{
  color: #000c24 !important;
  background-color: transparent !important;
  height: fit-content;
}
.Projects--data-card:hover{
  transform: rotate3d(0,0,0,0deg) !important;
  z-index: 1;
  margin: 0 2rem 0 3rem;
  background-image: none !important;
  animation:  none;
  box-shadow: 
  inset 0 0 40px #fff,      
  inset 20px 0 60px #f0f,   
  inset -20px 0 60px #0ff,  
  inset 20px 0 200px #f0f,  
  inset -20px 0 200px #0ff, 
  0 0 40px #fff,            
  -10px 0 60px #f0f,        
  10px 0 60px #0ff;         
  background-color: rgba(255, 255, 255, 0.548);

}
.Projects--data-card:hover .Projects--data-card-img{
  display: none;
}

@media (max-width: 420px) {
  .Home {

    height: 100vh;
    text-align: center;
  }

  .navbar {
    display: none;
  }

  .name {
    margin: 2rem 0 0 1rem;
    font-size: 4rem;
    padding-top: 5rem;
  }

  .info {
    margin: 0rem 0 0 1rem;
    font-size: 2rem;
  }

  .icons {
    margin-left: 1rem;
  }

  .navbar--mobile {
    display: block;
    padding: 1rem 0 0 1rem;
  }

  .navbar--mobile-data {
    text-align: center;

  }

  .navbar--mobile-data>li {
    list-style-type: none;
    margin-left: -2rem;
    line-height: 2rem;
  }

  .navbar--mobile-selected {
    color: #F44336;
    font-size: 1.25rem;

  }

  .navbar--mobile-unselected {
    color: #F5F9FF;
    font-size: 1.25rem;
  }
  .About{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .gif{
    margin-top: -10rem;
  }
  .gif > img{
    width: 20rem;
  }
  .about--card{
    margin: 0;
    width: 90%;
    
  }
  .about--card--head{
    font-size: 2rem;

  }
  .about--card-content{
    font-size: 1rem;
  }
  .Skills--card{
    margin: 0;
    
  }
  .Skills--card-category{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 1rem;
  }
  .Skills--card-content{
    grid-template-columns: auto;
  }
}